    body {
     min-width: 600px;
     margin: 10px 20px; /* Отступы от других элементов */
    }
  .gray-bkg{
        background: #eeeeee;
    }
    .head-btm-line {
        width: 100%; /* Ширина линии */
        height: 3px; /* Высота линии */
        background-color: rgb(14, 96, 137); /* Цвет линии */
        margin-top: 5px; /* Отступ сверху */
        margin-bottom: 10px; /* Отступ снизу */
      }
      .rounded-image {
        border-radius: 15px; /* Укажите радиус закругления */
        box-shadow: 0 4px 8px rgba(31, 36, 54, 0.692); /* Настраиваем тень: смещение по X, смещение по Y, размытие, цвет */
    }
    .center {
      text-align: center; /* Центрируем текст (и изображения) */
    }
 


